<h1 mat-dialog-title>Change password</h1>
<div mat-dialog-content class="content mat-typography" [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Old password</mat-label>
    <input type="password" matInput required formControlName="oldPassword">
    <mat-error *ngIf="form.get('oldPassword')?.errors?.['minlength'] || form.get('oldPassword')?.errors?.['maxlength']">
      Password must have 8 to 20 characters.
    </mat-error>
    <mat-error *ngIf="form.get('oldPassword')?.errors?.['pattern']">
      Password must include digits and letters.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Confirm old password</mat-label>
    <input type="password" matInput required formControlName="confirmedOldPassword" [errorStateMatcher]="matcherOld">
    <mat-error *ngIf="form.hasError('notSameOld')">
      Passwords are not matching.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>New password</mat-label>
    <input type="password" matInput required formControlName="newPassword">
    <mat-error *ngIf="form.get('newPassword')?.errors?.['minlength'] || form.get('newPassword')?.errors?.['maxlength']">
      Password must have 8 to 20 characters.
    </mat-error>
    <mat-error *ngIf="form.get('newPassword')?.errors?.['pattern']">
      Password must include digits and letters.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Confirm new password</mat-label>
    <input type="password" matInput required formControlName="confirmedNewPassword" [errorStateMatcher]="matcherNew">
    <mat-error *ngIf="form.hasError('notSameNew')">
      Passwords are not matching.
    </mat-error>
  </mat-form-field>
</div>
<div class="buttons" mat-dialog-actions>
  <button mat-stroked-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onOk()">Ok</button>
</div>
