@font-face {
  font-family: "Default Font Light";
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Default Font Regular";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Default Font Semi Bold";
  src: url("../fonts/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "Default Font Bold";
  src: url("../fonts/OpenSans-Bold.ttf");
}
