<div class="container darkMode">
  <mat-card class="form">
    <mat-card-title>Guest Login</mat-card-title>
    <mat-card-content>
      <form class="fields" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input type="text" matInput placeholder="Nickname" formControlName="nickname" required>
        </mat-form-field>
        <div *ngIf="error" class="error">
          {{ error }}
        </div>
        <div class="buttons">
          <a routerLink="/register" mat-stroked-button>Register</a>
          <a routerLink="/login" mat-stroked-button>User</a>
          <button type="submit" mat-raised-button color="primary">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
