@import "./src/styles/colors";

.container {
  display: flex;
  flex-direction: column;
  background: $background;
  overflow: hidden;
  .main-container {
    display: flex;
    flex-direction: row;
    position: relative;

    .chat-container {
      display: flex;
      flex-direction: column;
      width: calc(100% - 20px);
      background: $chat-background;
      border-radius: 10px;
      margin: 10px;
      box-shadow: rgba(0, 0, 0, 0.42) 0 0 30px;
    }
  }
}
