.container {
  padding: 5px 15px;
  height: calc(100vh - 138px);
  max-height: calc(100vh - 138px);
  overflow: auto;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-thumb:hover {
    background: #00000050;
  }
  .message {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    font-family: "Roboto Light", serif;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    background: #28282c;
    color: #a2a2a2;

    &.selected {
      &:hover {
        background: #3d3d42;
      }
      background: #3d3d42;
      .time {
        padding-left: 5px;
        display: unset;
        opacity: 1;
      }
    }

    &:hover {
      background: #36363b;
    }
    .time {
      opacity: 0;
      display: none;
    }
    .content {
      font-family: "Roboto", serif;
      font-size: 25px;
      color: #eeeeee;
      padding-left: 8px;
    }
  }
}
