<div class="container" [ngClass]="{smooth: smoothScroll}" #container (click)="onUnselect()">
  <ng-container #messages *ngFor="let message of messages">
    <div class="message" [ngClass]="{selected: message == currentMessage, yours: message.from == username}" (click)="$event.stopPropagation(); onSelect(message)">
      <div class="nickname" *ngIf="message.from != username">{{message.from}}</div>
      <div class="content">{{message.content}}</div>
      <div class="time">- {{message.datetime | date:'HH:mm dd/MM/yy'}}</div>
    </div>
  </ng-container>
</div>
