<mat-toolbar color="primary" class="darkMode bar">
  <mat-toolbar-row>
    <button class="account-options" mat-stroked-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
      Account options
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="isUser()" mat-menu-item (click)="onChangePassword()">Change password</button>
      <button *ngIf="isUser()" mat-menu-item (click)="onChangeNickname()">Change nickname</button>
      <button mat-menu-item (click)="onSignOut()">Sign out</button>
    </mat-menu>
    <ng-container *ngIf="isUser">
      <button mat-icon-button [matMenuTriggerFor]="notificationsMenu" *ngIf="notifications.length > 0">
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button *ngIf="notifications.length == 0">
        <mat-icon>notifications_none</mat-icon>
      </button>
    </ng-container>
    <mat-menu class="notification-menu-class" #notificationsMenu="matMenu">
      <div class="notification" *ngFor="let notification of notifications">
        <div class="content">{{notification.content}}</div>
        <mat-icon class="delete" *ngIf="!notification.locked" (click)="deleteNotification.emit(notification)">delete</mat-icon>
      </div>
    </mat-menu>
    <span class="spacer"></span>
    <div class="account-type" [ngClass]="premium.plan" [ngSwitch]="premium.plan" *ngIf="isUser()">
      <ng-container *ngSwitchCase="'none'">You are using a free account</ng-container>
      <ng-container *ngSwitchCase="'one-month'">Congrats! You're premium until {{premium.expiration | date : "MMM dd, yyyy 'at' HH:mm"}}</ng-container>
      <ng-container *ngSwitchCase="'subscription'">Congrats! You're subscribed to premium! Renewal date is {{premium.expiration | date : "MMM dd, yyyy 'at' HH:mm"}}</ng-container>
    </div>
    <button *ngIf="isUser()" mat-raised-button
            [matMenuTriggerFor]="menu2">{{premium.plan == "none" ? "Buy premium" : "Change plan" }}</button>
    <mat-menu #menu2="matMenu">
      <button mat-menu-item (click)="onPlan('one-month')" [ngSwitch]="premium.plan">
        <ng-container *ngSwitchCase="'none'">One month plan</ng-container>
        <ng-container *ngSwitchCase="'one-month'">Buy another month</ng-container>
        <ng-container *ngSwitchCase="'subscription'">Cancel subscription</ng-container>
      </button>
      <button *ngIf="premium.plan != 'subscription'" mat-menu-item (click)="onPlan('subscription')">Subscription plan</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
