.bar {
  background: none;
  color: white;
  user-select: none;
  -webkit-app-region: drag !important;
  display: flex;
  flex-direction: row;
  button {
    -webkit-app-region: no-drag;
  }
  mat-toolbar {
    background: none;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .account-options {
    margin-right: 10px;
  }

  .window-buttons {
    display: flex;
    flex-direction: row;
    height: 45px;
    z-index: 1001;
    .button {
      -webkit-app-region: no-drag;
      cursor: pointer;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      mat-icon {
        font-size: 25px;
      }

      &.minimize {
        mat-icon {
          line-height: 11px;
          text-align: center;
        }
        &:hover {
          background: rgba(110, 110, 110, 0.35);
        }
      }

      &.fullscreen {
        mat-icon {
          font-size: 23px;
          line-height: 25px;
          text-align: center;
        }
        &:hover {
          background: rgba(110, 110, 110, 0.35);
        }
      }

      &.close {
        &:hover {
          background: #e72410;
        }
      }
    }
  }
  span {
    font-family: "Default Font Semi Bold", serif !important;
  }
}
