<mat-toolbar color="primary" class="darkMode bar">
  <mat-toolbar-row>
    <button class="account-options" mat-stroked-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
      Account options
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="isUser()" mat-menu-item (click)="onChangePassword()">Change password</button>
      <button *ngIf="isUser()" mat-menu-item (click)="onChangeNickname()">Change nickname</button>
      <button mat-menu-item (click)="onSignOut()">Sign out</button>
    </mat-menu>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
