<div class="darkMode bar">
  <mat-toolbar>
    <mat-toolbar-row>
      <span class="">{{loginData.username}}</span>
      <span class="spacer"></span>
      <button mat-stroked-button class="account-options" (click)="onSignOut()">
        <mat-icon>logout</mat-icon>
        Sign out
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="window-buttons">
    <span class="button minimize" (click)="onMinimize()"><mat-icon>minimize</mat-icon></span>
    <span class="button fullscreen" (click)="onFullscreen()"><mat-icon>crop_square</mat-icon></span>
    <span class="button close" (click)="onClose()"><mat-icon>close</mat-icon></span>
  </div>
</div>
