<nav mat-tab-nav-bar>
  <a mat-tab-link [active]="true">login</a>
</nav>
<div mat-dialog-content class="fields" [formGroup]="form" (keyup.enter)="onSubmit()">
  <mat-form-field class="field">
    <input type="text" matInput placeholder="Nickname" required formControlName="nickname">
  </mat-form-field>
  <mat-form-field class="field">
    <input type="password" matInput placeholder="Password" required formControlName="password">
  </mat-form-field>
  <mat-form-field class="field">
    <input type="text" matInput placeholder="Chat Server URL" required formControlName="server">
  </mat-form-field>
  <mat-error class="error">{{errors}}</mat-error>
  <button class="submit" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
</div>
