.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 64px;
  .message {
    height: calc(100% - 45px);
    width: 100%;
    font-size: 20px;
    border: 0;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    background: rgb(16, 16, 17);
    color: #eeeeee;
    font-family: "Roboto", serif;

    &::placeholder {
      font-family: "Roboto Light", serif;
      color: #a2a2a2;
    }

    &:focus {
      outline: none;
    }
  }
  .send {
    width: 50px;
    height: 100%;
    display: flex;
    max-width: 0;
    overflow-x: hidden;
    color: transparent;
    transition: all ease 0.5s;
    &.visible {
      max-width: 50px;
      color: #eeeeee;
    }
    .icon {
      font-size: 30px;
      transform: translateX(-4px);
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
}
