@import "./src/styles/colors";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 46px;
  background: $response;
  border-radius: 10px;
  margin: 10px;
  padding: 5px 0;

  .message {
    width: 100%;
    font-size: 20px;
    border: 0;
    padding: 0 10px;
    color: $white;
    background: none;

    &::placeholder {
      font-family: "Default Font Light", serif !important;
      color: #a2a2a2;
    }

    &:focus {
      outline: none;
    }
  }

  .send {
    width: 40px;
    height: 40px;
    display: flex;
    overflow-x: hidden;
    transition: all ease 0.2s;
    background-color: $disabled;
    border-radius: 9px;
    margin: 10px;
    max-width: 50px;

    &.visible {
      background-color: $accent;
      cursor: pointer;
    }

    mat-icon {
      font-size: 20px;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
}
