.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #222225;
  .form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    padding: 40px;
    border-radius: 10px;
    .fields {
      margin-top: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      > mat-form-field {
        margin: 4px 0;
        width: 300px;
      }
      button {
        margin-top: 20px;
      }
    }
  }
}
